<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <div class="container">
    <div class="text-center mb-5">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#formModal">Add New Task</button>
    </div>

    <div class="modal" id="formModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Task</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="new-task-form row g-3">
            <div class="col-md-6">
              <label for="task-title" class="form-label">Title</label>
              <input type="text" class="form-control" id="task-title">
            </div>
            {{!-- <div class="col-md-6">
              <label for="task-due" class="form-label">Task Due Date</label>
              <input type="text" class="form-control" id="task-due">
            </div> --}}
            <div class="col-12">
              <label for="description" class="form-label">Task Description</label>
              <input type="text" class="form-control" id="task-description">
            </div>
        </div>
          <div class="add-task">
            <button class="btn btn-primary" id="add-task">Add Task</button>
            </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row swim-lanes text-center justify-content-between">
      <div class="col-12 col-lg-4 d-flex">
        <div id="to-do" class="card border-light mb-3 lane flex-grow-1">
          <div class="card-header bg-white">
            <h2 class="card-title mb-1">To Do</h2>
          </div>
          <div class="card-body bg-light">
            <div id="todo-cards"></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 d-flex">
        <div id="in-progress" class="card border-light mb-3 lane flex-grow-1">
          <div class="card-header bg-white">
            <h2 class="card-title mb-1">In Progress</h2>
          </div>
          <div class="card-body bg-light">
            <div id="in-progress-cards"></div>
          </div>
        </div>
        </div>
        <div class="col-12 col-lg-4 d-flex">
          <div id="done" class="card border-light mb-3 lane flex-grow-1">
            <div class="card-header bg-white">
              <h2 class="card-title mb-1">Done</h2>
            </div>
            <div class="card-body bg-light">
              <div id="done-cards"></div>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/addTask.js"></script>