<html class="h-full bg-white">
<body class="h-full">
<div class="row flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="col-md-6 sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-1 w-auto" src="/images/on-task-logo.png" alt="On Task">
    <h2 class="mt-10 text-2xl/9 font-bold tracking-tight text-gray-900">Signup</h2>
  </div>
  <div>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
<script src="/js/signup.js"></script>
<script src="/js/login.js"></script>